.buttonSend {
  width: 256px;
  height: 50px;
  border-radius: 8px;
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: var(--white);
  transition: 0.3s;
}

.buttonSend:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: 0.3s;
}