
.form-cad {
  width: 80%;
  height: 95%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.form-cad form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form-cad label {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-cad input {
  width: 256px;
  height: 50px;
  border-radius: 8px;
  box-sizing: border-box;
}