.password-container {
  width: 95%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.passwords-styles {
  height: 50px;
  width: 60%;
  border: 2px solid var(--orange);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.passwords-styles p {
  color: var(--blue);
}

.passwords-styles span {
  color: var(--orange);
}

.buttonUpdate {
  width: 60%;
  height: 50px;
  border-radius: 8px;
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: var(--white);
  transition: 0.3s;
}

.buttonUpdate:hover {
  border: 2px solid #2495ce;
  background-color: #2495ce;
  color: var(--white);
  transition: 0.3s;
}

@media screen and (min-width: 641px) {
  .buttonUpdate {
    height: 50px;
    width: 210px;
    font-size: 1.4rem;
  }
}