
main {
  max-width: 640px;
  height: 660px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* início menu */
.div-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: none;

  background-color: var(--blue);
}

.div-logo {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.div-buttons {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.div-buttons a {
  text-decoration: none;
  width: 100%;
}

.div-buttons div {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: var(--orange);
  border: 2px solid var(--orange);
  background-color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;

}
.div-buttons div:hover {
  transition: 0.5s;
  /* background-color: #2479a3; */
  background-color: var(--orange);
  color: var(--white);
  border: 2px solid var(--orange);
}

.div-footer {
  width: 286px;
  text-align: center;
  color: var(--white);
  font-size: 1.4rem;
}
/* fim menu */
/* início content */
.content {
  background-color: var(--white);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 2.4rem;
  color: var(--black);
}

.information {
  height: 72%;
  width: 80%;
  border: 2px solid var(--orange);
  border-radius: 8px;
  padding: 8px;
}

.information p {
  color: var(--black);
  font-size: 1.2rem;
}
/* fim content */
/* início do modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.div-password {
  width: 80%;
  height: 40%;
  background-color: var(--white);
  border-radius: 8px;
}

.div-password h1 {
  text-align: center;
}

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
  }

  .form input {
    width: 256px;
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .button-cancel {
    width: 256px;
    height: 50px;
    border-radius: 8px;
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: var(--white);
    cursor: pointer;
  }

  .active {
    display: inline-flex;
  }

  /* fim do modal */

  .buttonMenuMobile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2495ce !important;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .buttonMenuMobile img {
    width: 60px;
    height: 60px
  } */
/* menu Hamburger */
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }

  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 36px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: var(--white);
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }
  /* fim do menu hamburger */