
main {
  max-width: 640px;
  height: 640px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: var(--white);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 2.4rem;
  color: var(--black);
}

.information {
  height: 72%;
  width: 80%;
  border: 2px solid var(--orange);
  border-radius: 8px;
  padding: 8px;
}

.information p {
  color: var(--black);
  font-size: 1.2rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.div-password {
  width: 80%;
  height: 40%;
  background-color: var(--white);
}

.div-password h1 {
  text-align: center;
}

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .form input {
    width: 256px;
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .button-cancel {
    width: 256px;
    height: 50px;
    border-radius: 8px;
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: var(--white);
    cursor: pointer;
  }

  .active {
    display: none;
  }